
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1 class="display-3 text-center">Welcome to BayBeeBuk!</h1>
      <p class="lead">Create memories with the people you love.</p>
      <hr class="m-y-2">
      <p>Any time you want to save a story or a memory for posterity, you can record it here.</p>
      <p>
        It's like a physical baby book, but it's not just for babies!
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>

<style media="screen">
  body {
    background-image: url(<%= asset_path 'baby_background.png' %>);
    background-repeat: no-repeat;
    background-position: center top;
  }
</style>
