<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="text-center navbar-text">
      Copyright 2016 Joshua Masland-Sarani
    </div>
  </div>
</nav>
