<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <span><%= image_tag "logo-64x64.png" %></span>
        <span>BayBeeBuk</span>
      </a>
    </div>

    <div class="pull-xs-right">

      <%= render partial: "shared/sign_in_out_links" %>

    </div>
  </div>
</nav>
